{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<section>
    <div class="row" style="padding-top:8%">
        <div class="col-6 offset-3">
            <form method="POST" novalidate>
                {% csrf_token %}
                {% for hidden  in form.hidden_fields  %}
                {{hidden}}
                {% endfor %}
                {% for field in form.visible_fields  %}
                    <div class="form-group">
                        <label for="{{ firld.id_for_label}}">{{field.label}}</label>
                        {{field|add_class:'form-control'}}
                    </div>                 
                    {% for error in field.errors  %}
                        <span class="help-block text-danger">{{error}}</span>
                    {% endfor %}
                {% endfor %}
                <div class="ui-widget">
                    <label for="continent">Continent: </label>
                    <input class="form-control" name="continent" id="continent">
                </div> 
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    
    
$(function() {
  $("#continent").autocomplete({
    source: "{% url 'core:get_places' %}",
    minLength: 1,
  });
});
    
    function AutoCompleteSelectHandler(event, ui){
        var selectObj = ui.item
    }
</script>
{% endblock content %}