{% extends "base.html" %}

{% block content %}
    <div class="container">

        <a class="btn btn-success active" href="{% url 'core:create'%}">Create country</a>
    </div>
{% endblock content %}