<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Maps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-taget="#navbarSupported">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupported">
        <ul>
            <li>

            </li>
        </ul>
</nav>